* {
    font-family: 'Inter', sans-serif;
}
.title{
    margin-top: 2rem;
    padding: 1rem;
    font-size: 20px;
    font-weight: bold;
    color: var(--theme-orange);
}



.radio-group{
    margin-top: 1rem;
    display: flex;
}
.radio-label{
    font-size: 12px;
    color: var(--theme-gray);
}
.radio-button{
    margin-inline-end: 12px;
}
ion-radio{
    --color-checked: var(--theme-orange);
}


.form-name{
    font-size: 14px;
    font-weight: 600;
    color: var(--theme-black);
}
.form-input{
    --padding-start: 1rem;
    --padding-top: 0.8rem;
    border: 1px solid var(--theme-gray-border);
    border-radius: 4px;
    font-size: 11px;
}


.formbtn-link{
    font-size: 10px;
    color: var(--theme-gray);
}
.formbtn-link-orange{
    color: var(--theme-orange);
    text-decoration: none;
}


.form-button{
    --background: var(--theme-orange);
    --padding-top: 1.1rem;
    --padding-bottom: 1.1rem;
    font-size: 10px;
}

